drools-server/drools-server-spring/src/test/resources/model/person.xsd

<xsd:schema 
	xmlns:person="http://drools.org/model" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://drools.org/model" 
	elementFormDefault="qualified"
>

	<xsd:complexType name="person">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="age" type="xsd:integer" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>