kie-remote/kie-remote-ws/kie-remote-ws-wsdl/src/main/resources/META-INF/wsdl/DeploymentService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://services.remote.kie.org/VERSION/deployment"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
    name="DeploymentService"
    targetNamespace="http://services.remote.kie.org/VERSION/deployment">
  <!-- JAX-WS Customizations: Wrapper styles, async. -->
  <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
    <jaxws:enableWrapperStyle>true</jaxws:enableWrapperStyle>
    <jaxws:enableAsyncMapping>false</jaxws:enableAsyncMapping>
  </jaxws:bindings>
  <types xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:schema xmlns:jxb="http://java.sun.com/xml/ns/jaxb" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
      jxb:extensionBindingPrefixes="xjc" jxb:version="1.0" targetNamespace="http://services.remote.kie.org/VERSION/deployment"
      version="1.0">
      <xs:annotation>
        <xs:appinfo>
          <jxb:globalBindings collectionType="java.util.LinkedList" fixedAttributeAsConstantProperty="true"
            generateIsSetMethod="false">
            <xjc:serializable uid="1" />
          </jxb:globalBindings>
        </xs:appinfo>
      </xs:annotation>

      <!-- COMMON -->

      <xs:complexType name="serializableServiceObject" abstract="true">
        <xs:annotation>
          <xs:appinfo>
            <jxb:class ref="org.kie.remote.services.ws.common.SerializableServiceObject" />
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence />
      </xs:complexType>

      <!-- EXCEPTION -->

      <xs:element name="DeploymentServiceException" type="tns:WebServiceFaultInfo" />

      <xs:complexType name="WebServiceFaultInfo">
        <xs:annotation>
          <xs:appinfo>
            <jxb:class ref="org.kie.remote.services.ws.common.WebServiceFaultInfo" />
          </xs:appinfo>
        </xs:annotation>
      </xs:complexType>

      <!-- OPERATIONS -->

      <!-- OP: manage deployments -->

      <xs:element name="manage" type="tns:manage" />

      <xs:complexType name="manage">
        <xs:sequence>
          <xs:element name="arg0" type="tns:DeploymentIdRequest" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="DeploymentIdRequest">
        <xs:sequence>
          <xs:element name="deploymentId" type="xs:string" />
          <xs:element name="operation" type="tns:deploymentOperationType" />
          <xs:element name="descriptor" type="tns:DeploymentDescriptor" minOccurs="0" />
          <xs:element name="pageNumber" type="xs:int" minOccurs="0" />
          <xs:element name="pageSize" type="xs:int" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="deploymentOperationType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DEPLOY" />
          <xs:enumeration value="UNDEPLOY" />
          <xs:enumeration value="GET_INFO" />
        </xs:restriction>
      </xs:simpleType>

      <xs:complexType name="DeploymentDescriptor">
        <xs:annotation>
          <xs:appinfo>
            <jxb:class ref="org.kie.services.client.serialization.jaxb.impl.deploy.JaxbDeploymentDescriptor" />
          </xs:appinfo>
        </xs:annotation>
      </xs:complexType>

      <xs:element name="manageResponse" type="tns:manageResponse" />

      <xs:complexType name="manageResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:DeploymentInfoResponse" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="DeploymentInfoResponse">
        <xs:sequence>
          <xs:element name="deploymentUnit" type="tns:DeploymentUnit" minOccurs="1" />
          <xs:element name="operationRequested" type="xs:string" minOccurs="1" />
        </xs:sequence>
      </xs:complexType>

      <xs:element name="deployment-unit" type="tns:DeploymentUnit" />

      <xs:complexType name="DeploymentUnit">
        <xs:annotation>
          <xs:appinfo>
            <jxb:class ref="org.kie.services.client.serialization.jaxb.impl.deploy.JaxbDeploymentUnit" />
          </xs:appinfo>
        </xs:annotation>
      </xs:complexType>

      <!-- OP: get deployment info -->

      <xs:element name="getDeploymentInfo" type="tns:getDeploymentInfo" />

      <xs:complexType name="getDeploymentInfo">
        <xs:sequence>
          <xs:element name="arg0" type="tns:DeploymentIdRequest" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:element name="getDeploymentInfoResponse" type="tns:getDeploymentInfoResponse" />

      <xs:complexType name="getDeploymentInfoResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:DeploymentUnitList" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:element name="deployment-unit-list" type="tns:DeploymentUnitList" />

      <xs:complexType name="DeploymentUnitList">
        <xs:annotation>
          <xs:appinfo>
            <jxb:class ref="org.kie.services.client.serialization.jaxb.impl.deploy.JaxbDeploymentUnitList" />
          </xs:appinfo>
        </xs:annotation>
      </xs:complexType>

      <!-- OP: get process definition ids -->

      <xs:element name="getProcessDefinitionIds" type="tns:getProcessDefinitionIds" />

      <xs:complexType name="getProcessDefinitionIds">
        <xs:sequence>
          <xs:element name="arg0" type="tns:DeploymentIdRequest" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:element name="getProcessDefinitionIdsResponse" type="tns:getProcessDefinitionIdsResponse" />

      <xs:complexType name="getProcessDefinitionIdsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ProcessIdsResponse" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ProcessIdsResponse">
        <xs:sequence>
          <xs:element name="deploymentId" type="xs:string" />
          <xs:element name="processId" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>

      <!-- OP: get process definition info -->

      <xs:element name="getProcessDefinitionInfo" type="tns:getProcessDefinitionInfo" />

      <xs:complexType name="getProcessDefinitionInfo">
        <xs:sequence>
          <xs:element name="arg0" type="tns:DeploymentIdRequest" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:element name="getProcessDefinitionInfoResponse" type="tns:getProcessDefinitionInfoResponse" />

      <xs:complexType name="getProcessDefinitionInfoResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ProcessDefinitionList" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:element name="process-definition-list" type="tns:ProcessDefinitionList" />

      <xs:complexType name="ProcessDefinitionList">
        <xs:annotation>
          <xs:appinfo>
            <jxb:class ref="org.kie.services.client.serialization.jaxb.impl.process.JaxbProcessDefinitionList" />
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence />
      </xs:complexType>

    </xs:schema>
  </types>

  <message name="manage">
    <part name="parameters" element="tns:manage" />
  </message>
  <message name="manageResponse">
    <part name="parameters" element="tns:manageResponse" />
  </message>
  <message name="getProcessDefinitionIds">
    <part name="parameters" element="tns:getProcessDefinitionIds" />
  </message>
  <message name="getProcessDefinitionIdsResponse">
    <part name="parameters" element="tns:getProcessDefinitionIdsResponse" />
  </message>
  <message name="getProcessDefinitionInfo">
    <part name="parameters" element="tns:getProcessDefinitionInfo" />
  </message>
  <message name="getProcessDefinitionInfoResponse">
    <part name="parameters" element="tns:getProcessDefinitionInfoResponse" />
  </message>
  <message name="getDeploymentInfo">
    <part name="parameters" element="tns:getDeploymentInfo" />
  </message>
  <message name="getDeploymentInfoResponse">
    <part name="parameters" element="tns:getDeploymentInfoResponse" />
  </message>
  <message name="DeploymentServiceException">
    <part name="fault" element="tns:DeploymentServiceException" />
  </message>
  <portType name="DeploymentService">
    <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
      <jaxws:class name="DeploymentWebService" />
    </jaxws:bindings>
    <operation name="manage">
      <input wsam:Action="http://services.remote.kie.org/VERSION/deployment/DeploymentService/manageRequest" message="tns:manage" />
      <output wsam:Action="http://services.remote.kie.org/VERSION/deployment/DeploymentService/manageResponse" message="tns:manageResponse" />
      <fault message="tns:DeploymentServiceException" name="DeploymentServiceException" wsam:Action="http://services.remote.kie.org/VERSION/deployment/DeploymentService/manage/Fault/DeploymentServiceException">
        <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
          <jaxws:class name="DeploymentWebServiceException" />
        </jaxws:bindings>
      </fault>
    </operation>
    <operation name="getProcessDefinitionIds">
      <input wsam:Action="http://services.remote.kie.org/VERSION/deployment/DeploymentService/getProcessDefinitionIdsRequest" message="tns:getProcessDefinitionIds" />
      <output wsam:Action="http://services.remote.kie.org/VERSION/deployment/DeploymentService/getProcessDefinitionIdsResponse" message="tns:getProcessDefinitionIdsResponse" />
      <fault message="tns:DeploymentServiceException" name="DeploymentServiceException" wsam:Action="http://services.remote.kie.org/VERSION/deployment/DeploymentService/getProcessDefinitionIds/Fault/DeploymentServiceException">
        <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
          <jaxws:class name="DeploymentWebServiceException" />
        </jaxws:bindings>
      </fault>
    </operation>
    <operation name="getProcessDefinitionInfo">
      <input wsam:Action="http://services.remote.kie.org/VERSION/deployment/DeploymentService/getProcessDefinitionInfoRequest" message="tns:getProcessDefinitionInfo" />
      <output wsam:Action="http://services.remote.kie.org/VERSION/deployment/DeploymentService/getProcessDefinitionInfoRequest" message="tns:getProcessDefinitionInfoResponse" />
      <fault message="tns:DeploymentServiceException" name="DeploymentServiceException" wsam:Action="http://services.remote.kie.org/VERSION/deployment/DeploymentService/getProcessDefinitionInfo/Fault/DeploymentServiceException">
        <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
          <jaxws:class name="DeploymentWebServiceException" />
        </jaxws:bindings>
      </fault>
    </operation>
    <operation name="getDeploymentInfo">
      <input wsam:Action="http://services.remote.kie.org/VERSION/deployment/DeploymentService/getDeploymentInfoRequest" message="tns:getDeploymentInfo" />
      <output wsam:Action="http://services.remote.kie.org/VERSION/deployment/DeploymentService/getDeploymentInfoRequest" message="tns:getDeploymentInfoResponse" />
      <fault message="tns:DeploymentServiceException" name="DeploymentServiceException" wsam:Action="http://services.remote.kie.org/VERSION/deployment/DeploymentService/getDeploymentInfo/Fault/DeploymentServiceException">
        <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
          <jaxws:class name="DeploymentWebServiceException" />
        </jaxws:bindings>
      </fault>
    </operation>
  </portType>
  <binding name="DeploymentServicePortBinding" type="tns:DeploymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="manage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DeploymentServiceException">
        <soap:fault name="DeploymentServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="getProcessDefinitionIds">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DeploymentServiceException">
        <soap:fault name="DeploymentServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="getProcessDefinitionInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DeploymentServiceException">
        <soap:fault name="DeploymentServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="getDeploymentInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DeploymentServiceException">
        <soap:fault name="DeploymentServiceException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="DeploymentServiceClient">
    <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
      <jaxws:class name="DeploymentWebServiceClient"/>
    </jaxws:bindings>
    <port name="DeploymentServicePort" binding="tns:DeploymentServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL" />
    </port>
  </service>
</definitions>

