kie-remote/kie-remote-ws/kie-remote-ws-wsdl/src/main/resources/META-INF/wsdl/HistoryService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.remote.kie.org/VERSION/history"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="HistoryService"
  targetNamespace="http://services.remote.kie.org/VERSION/history">
  <!-- JAX-WS Customizations: Wrapper styles, async. -->
  <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
    <jaxws:enableWrapperStyle>true</jaxws:enableWrapperStyle>
    <jaxws:enableAsyncMapping>false</jaxws:enableAsyncMapping>
  </jaxws:bindings>
  <types xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:schema xmlns:jxb="http://java.sun.com/xml/ns/jaxb" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
      jxb:extensionBindingPrefixes="xjc" jxb:version="1.0" targetNamespace="http://services.remote.kie.org/VERSION/history" version="1.0">
      <xs:annotation>
        <xs:appinfo>
          <jxb:globalBindings collectionType="java.util.LinkedList" fixedAttributeAsConstantProperty="true"
            generateIsSetMethod="false">
            <xjc:serializable uid="1" />
          </jxb:globalBindings>
        </xs:appinfo>
      </xs:annotation>

      <!-- COMMON -->

      <xs:complexType name="serializableServiceObject" abstract="true">
        <xs:annotation>
          <xs:appinfo>
            <jxb:class ref="org.kie.remote.services.ws.common.SerializableServiceObject" />
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence />
      </xs:complexType>

      <!-- EXCEPTION -->

      <xs:element name="HistoryServiceException" type="tns:WebServiceFaultInfo" />

      <xs:complexType name="WebServiceFaultInfo">
        <xs:annotation>
          <xs:appinfo>
            <jxb:class ref="org.kie.remote.services.ws.common.WebServiceFaultInfo" />
          </xs:appinfo>
        </xs:annotation>
      </xs:complexType>

      <!-- OPERATIONS -->

      <xs:complexType name="HistoryInstanceLogRequest">
        <xs:sequence>
          <xs:element name="processInstanceId" type="xs:long" minOccurs="0" />
          <xs:element name="processDefId" type="xs:string" minOccurs="0" />
          <xs:element name="nodeId" type="xs:string" minOccurs="0" />
          <xs:element name="variableId" type="xs:string" minOccurs="0" />
          <xs:element name="variableValue" type="xs:string" minOccurs="0" />
          <xs:element name="pageNumber" type="xs:int" minOccurs="0" />
          <xs:element name="pageSize" type="xs:int" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <!-- OP: find process instance logs -->

      <xs:element name="findProcessInstanceLogs" type="tns:findProcessInstanceLogs" />

      <xs:complexType name="findProcessInstanceLogs">
        <xs:sequence>
          <xs:element name="arg0" type="tns:HistoryInstanceLogRequest" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:element name="findProcessInstanceLogsResponse" type="tns:findProcessInstanceLogsResponse" />

      <xs:complexType name="findProcessInstanceLogsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ProcessInstanceLogResponse" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ProcessInstanceLogResponse">
        <xs:sequence>
          <xs:element name="processInstanceId" type="xs:long" minOccurs="0" />
          <xs:element name="processId" type="xs:string" minOccurs="0" />
          <xs:element name="startDate" type="xs:dateTime" minOccurs="0" />
          <xs:element name="endDate" type="xs:dateTime" minOccurs="0" />
          <xs:element name="status" type="xs:int" minOccurs="0" />
          <xs:element name="parentProcessInstanceId" type="xs:long" minOccurs="0" />
          <xs:element name="outcome" type="xs:string" minOccurs="0" />
          <xs:element name="duration" type="xs:long" minOccurs="0" />
          <xs:element name="identity" type="xs:string" minOccurs="0" />
          <xs:element name="externalId" type="xs:string" minOccurs="0" />
          <xs:element name="processVersion" type="xs:string" minOccurs="0" />
          <xs:element name="processName" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <!-- OP: find variable instance logs -->

      <xs:element name="findVariableInstanceLogs" type="tns:findVariableInstanceLogs" />

      <xs:complexType name="findVariableInstanceLogs">
        <xs:sequence>
          <xs:element name="arg0" type="tns:HistoryInstanceLogRequest" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:element name="findVariableInstanceLogsResponse" type="tns:findVariableInstanceLogsResponse" />

      <xs:complexType name="findVariableInstanceLogsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:VariableInstanceLogResponse" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="VariableInstanceLogResponse">
        <xs:sequence>
          <xs:element name="processInstanceId" type="xs:long" minOccurs="0" />
          <xs:element name="processId" type="xs:string" minOccurs="0" />
          <xs:element name="variableInstanceId" type="xs:string" minOccurs="0" />
          <xs:element name="variableId" type="xs:string" minOccurs="0" />
          <xs:element name="value" type="xs:string" minOccurs="0" />
          <xs:element name="oldValue" type="xs:string" minOccurs="0" />
          <xs:element name="date" type="xs:dateTime" minOccurs="0" />
          <xs:element name="externalId" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <!-- OP: find node instance logs -->

      <xs:element name="findNodeInstanceLogs" type="tns:findNodeInstanceLogs" />

      <xs:element name="findNodeInstanceLogsResponse" type="tns:findNodeInstanceLogsResponse" />

      <xs:complexType name="findNodeInstanceLogs">
        <xs:sequence>
          <xs:element name="arg0" type="tns:HistoryInstanceLogRequest" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="findNodeInstanceLogsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:NodeInstanceLogResponse" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="NodeInstanceLogResponse">
        <xs:sequence>
          <xs:element name="processInstanceId" type="xs:long" minOccurs="0" />
          <xs:element name="processId" type="xs:string" minOccurs="0" />
          <xs:element name="nodeInstanceId" type="xs:string" minOccurs="0" />
          <xs:element name="nodeId" type="xs:string" minOccurs="0" />
          <xs:element name="nodeName" type="xs:string" minOccurs="0" />
          <xs:element name="date" type="xs:dateTime" minOccurs="0" />
          <xs:element name="workItemId" type="xs:long" minOccurs="0" />
          <xs:element name="connection" type="xs:string" minOccurs="0" />
          <xs:element name="externalId" type="xs:string" minOccurs="0" />
          <xs:element name="nodeType" type="xs:string" minOccurs="0" />
          <xs:element name="type" type="xs:int" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </types>
  <message name="findProcessInstanceLogs">
    <part name="parameters" element="tns:findProcessInstanceLogs" />
  </message>
  <message name="findProcessInstanceLogsResponse">
    <part name="parameters" element="tns:findProcessInstanceLogsResponse" />
  </message>
  <message name="findVariableInstanceLogs">
    <part name="parameters" element="tns:findVariableInstanceLogs" />
  </message>
  <message name="findVariableInstanceLogsResponse">
    <part name="parameters" element="tns:findVariableInstanceLogsResponse" />
  </message>
  <message name="findNodeInstanceLogs">
    <part name="parameters" element="tns:findNodeInstanceLogs" />
  </message>
  <message name="findNodeInstanceLogsResponse">
    <part name="parameters" element="tns:findNodeInstanceLogsResponse" />
  </message>
  <message name="HistoryServiceException">
    <part name="fault" element="tns:HistoryServiceException" />
  </message>
  <portType name="HistoryService">
      <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
      <jaxws:class name="HistoryWebService"/>
    </jaxws:bindings>
    <operation name="findProcessInstanceLogs">
      <input wsam:Action="http://services.remote.kie.org/VERSION/history/HistoryService/findProcessInstanceLogsRequest" message="tns:findProcessInstanceLogs" />
      <output wsam:Action="http://services.remote.kie.org/VERSION/history/HistoryService/findProcessInstanceLogsResponse" message="tns:findProcessInstanceLogsResponse" />
      <fault message="tns:HistoryServiceException" name="HistoryServiceException" wsam:Action="http://services.remote.kie.org/VERSION/history/HistoryService/findProcessInstanceLogs/Fault/HistoryServiceException">
        <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
          <jaxws:class name="HistoryWebServiceException"/>
        </jaxws:bindings>
      </fault>
    </operation>
    <operation name="findVariableInstanceLogs">
      <input wsam:Action="http://services.remote.kie.org/VERSION/history/HistoryService/findVariableInstanceLogsRequest" message="tns:findVariableInstanceLogs" />
      <output wsam:Action="http://services.remote.kie.org/VERSION/history/HistoryService/findVariableInstanceLogsResponse" message="tns:findVariableInstanceLogsResponse" />
      <fault message="tns:HistoryServiceException" name="HistoryServiceException"  wsam:Action="http://services.remote.kie.org/VERSION/history/HistoryService/findVariableInstanceLogs/Fault/HistoryServiceException">
        <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
          <jaxws:class name="HistoryWebServiceException"/>
        </jaxws:bindings>
      </fault>
    </operation>
    <operation name="findNodeInstanceLogs">
      <input wsam:Action="http://services.remote.kie.org/VERSION/history/HistoryService/findNodeInstanceLogsRequest" message="tns:findNodeInstanceLogs" />
      <output wsam:Action="http://services.remote.kie.org/VERSION/history/HistoryService/findNodeInstanceLogsRequest" message="tns:findNodeInstanceLogsResponse" />
      <fault message="tns:HistoryServiceException" name="HistoryServiceException" wsam:Action="http://services.remote.kie.org/VERSION/history/HistoryService/findNodeInstanceLogs/Fault/HistoryServiceException">
        <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
          <jaxws:class name="HistoryWebServiceException"/>
        </jaxws:bindings>
      </fault>
    </operation>
  </portType>
  <binding name="HistoryServicePortBinding" type="tns:HistoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="findProcessInstanceLogs">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="HistoryServiceException">
        <soap:fault name="HistoryServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="findNodeInstanceLogs">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="HistoryServiceException">
        <soap:fault name="HistoryServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="findVariableInstanceLogs">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="HistoryServiceException">
        <soap:fault name="HistoryServiceException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="HistoryServiceClient">
    <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
      <jaxws:class name="HistoryWebServiceClient"/>
    </jaxws:bindings>
    <port name="HistoryServicePort" binding="tns:HistoryServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL" />
    </port>
  </service>
</definitions>